@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif"; 
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  60% {
    width: 100%; /* Slow typing */
  }
  80% {
    width: 100%; /* Pause before erasing */
  }
  100% {
    width: 0; /* Fast erase */
  }
}
@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
  background-size: 200% auto;
}


.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ffffff;
  animation: 
    typewriter 4s steps(15) infinite,
    blink 0.7s step-end infinite;
}
